@page "/"
@using HexGridProject.HexGrid

<h3>Hex Grid Demo</h3>

<div id="hexGridContainer" style="position: relative; width: 800px; height: 600px; border: 1px solid #ccc;">
    @foreach (var hex in Hexes)
    {
        // Simple hardcoded spacing for testing
        //var x = hex.q * 70; // 70 pixels horizontal spacing
        //var y = hex.r * 60; // 60 pixels vertical spacing

        // Not hardcoded spacing
        var (x, y) = HexMath.GetHexPosition(hex.q, hex.r, HexSize);



        <div style="position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: lightgray;
                    border: 1px solid black;
                    border-radius: 50%;
                    left: @(x)px;
                    top: @(y)px;">
        </div>
    }
</div>

@code {
    const float HexSize = 30;

    List<(int q, int r)> Hexes = new List<(int, int)>();

    protected override void OnInitialized()
    {
        Hexes.Clear();
        for (int r = 0; r < 5; r++) // 5 rows
        {
            for (int q = 0; q < 5; q++) // 5 columns
            {
                Hexes.Add((q, r));
            }
        }
    }
}
